*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:#ffffffd2;
    color: #000000;
   font-family: 'Montserrat', sans-serif;
}
.head{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    gap: 20px;
}
#search{
    flex: auto;
  height: 40px;
  background: #ffffff;
  border-radius: 20px;
  padding: 0 20px;
}
.menu{
    display: flex;
    gap: 20px;
    color: #b41c1c;
        font-size: 20px;
        cursor: pointer;

}
.menu a{
 
    color: #050505;
     font-size: 20px;
        cursor: pointer;
        text-decoration: none;
}
.menu a:hover{
    color: #66aaf8;
    letter-spacing: 2px;

}
.far.fa-heart{
    font-size: 30px;
    color: red;
    margin-left: 20px;
     cursor: pointer;
}
.circle-img {
    width: 50px;
    height: 50px;     
    border-radius: 50%; 
    object-fit: cover;  
    border: 2px solid #b19106; 
}

.welcome{
  display: flex;
  justify-content:flex-start;
  align-items: center;
  gap: 10px;
    margin: 10px;

}
.courses{
    width: 95%;
    margin: auto;
   display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   gap: 20px;
}
.title-courses{
 width: 95%;
    margin: 20px auto;
}
.subtitle{
    margin: 10px 0;
    color: #646363;
}
.Trending{
    position: relative;
    background: linear-gradient(135deg, #f5f5f5, #e0e0e0);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
     display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.Trending:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.7);

}
.heart-circle {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.heart-circle:hover {
    color: rgba(255, 0, 0, 0.8);
    transform: scale(1.5);
}


.course-img{
    width: 100%;
    height: auto;
    object-fit: cover;
    height: 180px;
    border-radius: 10px;
    margin-bottom: 15px;
}
.author-rating{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    align-items: center;
}
.rating i{
    color: #f5c518;
    font-size: 20px;
    cursor: pointer;
}
.course-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin-top: 15px;
}

.submit{
    width: 100%;
    margin: 10px 0 ;
    padding: 10px;
    text-align: center;
    background: #2e92f0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.7s;

}
.submit:hover{
    background:#0268c7;
    letter-spacing:2px;
}







