*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background:#ffffffd2;
    color: #000000;
    font-family: system-ui;
}
.head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
    margin: 10px auto;

}

.all{
width: 100%;
margin: auto; 
}

input{
  width: 300px;
  height: 30px;
  outline: none;
  border: none;
  background: #1111112c;
  margin: 20px 20px;
  border-radius: 20px;
  padding: 20px;
  color: #000000;
 
}
.circle-img {
    width: 50px;
    height: 50px;     
    border-radius: 50%; 
    object-fit: cover;  
    border: 2px solid #000; 
}
i{
    font-size: 30px;
    color: red;
    margin-left: 20px;
     cursor: pointer;
}

