* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
.header {
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
  padding: 12px 24px;
}
.header-top {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.search-box {
  position: relative;
}

.search-box input {
  width: 320px;
  padding: 8px 40px 8px 14px;
  border-radius: 20px;
  border: 1px solid #ccc;
  outline: none;
}

.search-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #007bff;
}
.top-text{
    display: flex;
    gap: 12px;
    font-size: 14px;
    color: #333;
    align-items: center;
}
.categories {
  display: inline-flex;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden; 
}

.category {
  padding: 10px 18px;
  font-size: 14px;
  background: #fff;
  color: #333;
  cursor: pointer;
  border-right: 1px solid #ddd;
  white-space: nowrap;
}

.category:last-child {
  border-right: none;
}

.category.active {
  background: #f5f5f5;
  font-weight: 500;
}
.welcome {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 24px;
}
.welcome-divider {
  height: 2px;
  background-color:#ddd;
  margin: 0 24px;
}
.welcome h2 {
  font-size: 22px;
  font-weight: 600;
  color: #000;
}
.welcome span {
  font-weight: 700;
}
.trending-courses {
  text-align: left;
  margin: 40px 24px 24px ;

}
.trending-courses h2 {
  font-size: 20px;
  font-weight: 700;
  color: #000;
  margin-bottom: 6px;
}
.trending-courses p {
  font-size: 14px;
  color: #666;
}





.cards-section {
  padding: 24px;
}

.cards-row {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.card {
  flex: 1 1 180px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  padding: 16px;
  text-align: center;
}

.card img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 12px;
}

.card p {
  font-size: 14px;
  color: #333;
  font-weight: 500;
  line-height: 1.4;
}












































