.container{
    width: 100%;
    text-align: left;
    margin-top: 60px;
    margin-bottom:30px;
}
.h1{
    margin:0;
    padding:0;
    line-height: 1.1;
    font-size:36px;
    font-weight:700;
}
.p{
    margin:0;
    padding:0;
    line-height: 1.1;
    font-size:16px;
    color:#666;
}
.nav{
    display: flex;
    justify-content:flex-start;
    gap:30px;
    margin-left:0;
    margin-top:12px;
}
.nav a{
    text-decoration: none;
    color: #777;
    font-size: 14px;
}
.nav a:hover{
    color:#000;
}